<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Empleados</title>
<link
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
	rel="stylesheet">
</head>
<body class="bg-gray-100">
	<header class="bg-blue-600 p-4 text-white">
		<h1 class="text-xl">Lista de Empleados</h1>
	</header>
	<div class="container mx-auto p-4">
		<div class="flex justify-between mb-4">
			<a th:href="@{/empleados/nuevo}"
				class="bg-green-500 text-white px-4 py-2 rounded">Crear Empleado</a>
			<a th:href="@{/empleados/entrada-salida}"
				class="bg-green-500 text-white px-4 py-2 rounded">Ingresos/Salidas</a>

		</div>
		<div class="bg-white p-4 shadow-md rounded">
			<table
				class="min-w-full bg-white border-collapse border border-gray-200">
				<thead>
					<tr>
						<th class="border border-gray-200 px-4 py-2">Nombre</th>
						<th class="border border-gray-200 px-4 py-2">Apellido</th>
						<th class="border border-gray-200 px-4 py-2">DNI</th>
						<th class="border border-gray-200 px-4 py-2">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="empleado : ${empleados}">
						<td class="border border-gray-200 px-4 py-2"
							th:text="${empleado.nombre}"></td>
						<td class="border border-gray-200 px-4 py-2"
							th:text="${empleado.apellido}"></td>
						<td class="border border-gray-200 px-4 py-2"
							th:text="${empleado.dni}"></td>
						<td class="border border-gray-200 px-4 py-2"><a
							th:href="@{/empleados/editar/{id}(id=${empleado.id})}"
							class="bg-blue-500 text-white px-4 py-2 rounded">Editar</a> <a
							th:href="@{/empleados/borrar/{id}(id=${empleado.id})}"
							class="bg-red-500 text-white px-4 py-2 rounded"
							onclick="return confirm('¿Estás seguro de eliminar este empleado?');">Borrar</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
