<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Información del Empleado</title>
<link
	href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
	rel="stylesheet">
<script>
	function updateFilters() {
		const filtro = document.getElementById('filtro').value;
		document.getElementById('anio-field').style.display = filtro === 'año' ? 'block'
				: 'none';
		document.getElementById('semana-field').style.display = filtro === 'semana' ? 'block'
				: 'none';
		document.getElementById('mes-field').style.display = filtro === 'mes' ? 'block'
				: 'none';
		document.getElementById('dia-field').style.display = filtro === 'día' ? 'block'
				: 'none';
	}
</script>
</head>
<body
	class="bg-gray-100 text-gray-800 flex justify-center items-center min-h-screen">
	<div
		class="container mx-auto p-6 bg-white rounded-lg shadow-md mt-8 max-w-7xl">
		<h1 class="text-3xl font-bold mb-6 border-b pb-3 text-center">Información
			del Empleado</h1>
		<!-- Filtros -->
		<div class="mb-6 flex flex-col items-center">
			<form th:action="@{/empleados/index}" method="get"
				class="flex flex-col gap-4">
				<input type="hidden" name="id" th:value="${empleado.id}" /> <label
					for="filtro" class="text-lg font-semibold">Filtrar por:</label> <select
					id="filtro" name="filtro" class="border p-2 rounded-lg" required
					onchange="updateFilters()">
					<option value="" disabled selected>Seleccionar...</option>
					<option value="semana">Semana</option>
					<option value="mes">Mes</option>
					<option value="año">Año</option>
					<option value="día">Día</option>
				</select>


				<!-- Mostrar calendario visual -->

				<div class="grid grid-cols-7 gap-2 mt-4">
					<!-- Mostrar los días de la semana en orden desde domingo -->
					<div class="col-span-1 text-center font-bold">Dom</div>
					<div class="col-span-1 text-center font-bold">Lun</div>
					<div class="col-span-1 text-center font-bold">Mar</div>
					<div class="col-span-1 text-center font-bold">Mié</div>
					<div class="col-span-1 text-center font-bold">Jue</div>
					<div class="col-span-1 text-center font-bold">Vie</div>
					<div class="col-span-1 text-center font-bold">Sáb</div>

					<!-- Generar cuadrículas del calendario simplificado -->
					<div th:each="entry : ${calendarioSimplificado}"
						class="col-span-1 border p-3 bg-gray-200 rounded-lg">
						<h4 class="font-semibold text-xs text-center"
							th:text="${T(java.time.LocalDate).parse(entry.key).getDayOfMonth()}"></h4>
						<table class="table-auto w-full mt-2 text-xs">
							<thead>
								<tr>
									<th class="py-1 px-2 text-left text-gray-700">Hora</th>
									<th class="py-1 px-2 text-left text-gray-700">Tipo</th>
								</tr>
							</thead>
							<tbody>
								<!-- Iterar sobre registros del día -->
								<tr th:each="registro : ${entry.value}">
									<td class="py-1 px-2 text-gray-700 truncate"
										th:text="${registro.key}"></td>
									<td class="py-1 px-2 text-gray-700 truncate overflow-hidden"
										th:text="${registro.value}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div id="semana-field" class="hidden">
					<label for="semanaInicio" class="text-lg font-semibold">Inicio
						de la Semana:</label> <input type="date" id="semanaInicio"
						name="semanaInicio" class="border p-2 rounded-lg" /> <label
						for="semanaFin" class="text-lg font-semibold">Fin de la
						Semana:</label> <input type="date" id="semanaFin" name="semanaFin"
						class="border p-2 rounded-lg" />
				</div>
				<div id="mes-field" class="hidden">
					<label for="mes" class="text-lg font-semibold">Mes:</label> <input
						type="month" id="mes" name="mes" class="border p-2 rounded-lg" />
				</div>
				<div id="anio-field" class="hidden">
					<label for="anio" class="text-lg font-semibold">Año:</label> <input
						type="number" id="anio" name="anio" class="border p-2 rounded-lg"
						placeholder="Año" />
				</div>
				<div id="dia-field" class="hidden">
					<label for="dia" class="text-lg font-semibold">Día:</label> <input
						type="date" id="dia" name="dia" class="border p-2 rounded-lg" />
				</div>
				<button type="submit"
					class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600">Aplicar
					Filtro</button>
			</form>
		</div>
		<div class="mb-6 text-center">
			<h2 class="text-2xl font-semibold mb-2"
				th:text="'Empleado: ' + ${empleado.nombre} + ' ' + ${empleado.apellido}"></h2>
			<p class="text-lg mb-2" th:text="'DNI: ' + ${empleado.dni}"></p>
		</div>
		<div class="mb-6">
			<h3 class="text-xl font-semibold mb-2">Horarios Asignados:</h3>
			<ul class="list-disc list-inside pl-5">
				<li class="mb-2" th:each="horario : ${horariosAsignados}"
					th:text="${horario}"></li>
			</ul>
		</div>
		<div class="mb-6">
			<h3 class="text-xl font-semibold mb-2">Días Asignados:</h3>
			<ul class="list-disc list-inside pl-5">
				<li class="mb-2" th:each="dia : ${diasAsignados}" th:text="${dia}"></li>
			</ul>
		</div>
		<div class="mb-6">
			<h3 class="text-xl font-semibold mb-2">Calendario de Asistencia:</h3>
			<div th:each="entry : ${calendario}" class="mb-4">
				<h4 class="text-lg font-semibold mb-2" th:text="${entry.key}"></h4>
				<table
					class="min-w-full bg-white border border-gray-200 rounded-lg overflow-hidden">
					<thead>
						<tr class="bg-gray-100 border-b">
							<th class="py-2 px-4 text-left text-sm font-medium text-gray-700">Día</th>
							<th class="py-2 px-4 text-left text-sm font-medium text-gray-700">Estado</th>
							<th class="py-2 px-4 text-left text-sm font-medium text-gray-700">Tiempo
								de retraso</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dia : ${entry.value}"
							class="border-b hover:bg-gray-50 transition-colors">
							<td class="py-2 px-4 text-sm text-gray-600" th:text="${dia.key}"></td>
							<td class="py-2 px-4 text-sm text-gray-600"
								th:text="${dia.value}"></td>
							<td class="py-2 px-4 text-sm text-gray-600"><span
								th:if="${#strings.contains(dia.value, 'Retraso')}"
								th:text="${#strings.substringAfter(dia.value, 'Retraso: ')}"></span>
							</td>
					</tbody>
				</table>
			</div>
		</div>




		<div class="mb-6">
			<h3 class="text-xl font-semibold mb-2 mt-10">Registro de
				Entradas y Salidas:</h3>
			<table
				class="min-w-full bg-white border border-gray-200 rounded-lg overflow-hidden">
				<thead>
					<tr class="bg-gray-100 border-b">
						<th class="py-2 px-4 text-left text-sm font-medium text-gray-700">Fecha
							y Hora</th>
						<th class="py-2 px-4 text-left text-sm font-medium text-gray-700">Tipo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="registro : ${empleado.registros}"
						class="border-b hover:bg-gray-50 transition-colors">
						<td class="py-2 px-4 text-sm text-gray-600"
							th:text="${registro.timestamp}"></td>
						<td class="py-2 px-4 text-sm text-gray-600"
							th:text="${registro.esEntrada ? 'Entrada' : 'Salida'}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center mt-6">
			<a href="/empleados"
				class="px-6 py-2 bg-gray-500 text-white font-semibold rounded-lg shadow-md hover:bg-gray-600">Volver</a>
		</div>
	</div>
</body>
</html>